<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    <header>
      <nav>
        <a href="/">Home Page</a>
        <a href="/blogs">Blog Page</a>
    </nav>
    </header>
    <h1>Welcome to Home Page</h1>
  </body>
</html>
